<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>

{% if st=="1" %}

<iframe src="http://iotcloud.co.in/ar_iot/store.php?status={{value1}}&bc={{bc}}" width="10" height="10" frameborder="0"></iframe>

<h3 style="color:#006633">{{det}}</h3>
	{% if sms_st=="1" %}
<iframe src="http://iotcloud.co.in/testsms/sms.php?sms=emr&name={{name}}&mess={{mess}}&mobile={{mobile}}" width="10" height="10" ></iframe>
	{% endif %}

<embed src="../static/audio/{{afile}}" width="20" height="20" autostart="true"></embed>

{% endif %}

<script>
						setTimeout(function () {
						   //Redirect with JavaScript
						  window.location.href="/process_cam2x";
						}, 5000);
						</script>

</body>
</html>
