<html>
<head>
<meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Animal Intrusion</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <link rel="manifest" href="site.webmanifest"> -->
    <link rel="shortcut icon" type="image/x-icon" href="../../static/web/img/favicon.png">
    <!-- Place favicon.ico in the root directory -->

    <!-- CSS here -->
    <link rel="stylesheet" href="../../static/web/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/web/css/owl.carousel.min.css">
    <link rel="stylesheet" href="../../static/web/css/magnific-popup.css">
    <link rel="stylesheet" href="../../static/web/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../static/web/css/themify-icons.css">
    <link rel="stylesheet" href="../../static/web/css/nice-select.css">
    <link rel="stylesheet" href="../../static/web/css/flaticon.css">
    <link rel="stylesheet" href="../../static/web/css/gijgo.css">
    <link rel="stylesheet" href="../../static/web/css/animate.css">
    <link rel="stylesheet" href="../../static/web/css/slicknav.css">
    <link rel="stylesheet" href="../../static/web/css/style.css">
</head>

<body>
  <header>
        <div class="header-area ">
            <div class="header-top_area">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xl-6 col-md-12 col-lg-8">
                            <div class="short_contact_list">
                                <ul>
                                    <li><a href="#">  +1 (454) 556-5656</a></li>
                                    <li><a href="#"> <i class="fa fa-envelope"></i>info@gmail.com</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xl-6 col-md-6 col-lg-4">
                            <div class="social_media_links d-none d-lg-block">
                                <a href="#">
                                    <i class="fa fa-facebook"></i>
                                </a>
                                <a href="#">
                                    <i class="fa fa-pinterest-p"></i>
                                </a>
                                <a href="#">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                                <a href="#">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="sticky-header" class="main-header-area">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <div class="col-xl-3 col-lg-3">
                            <div class="logo">
                                <a href="index.html">
                                    <img src="img/logo.png" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="col-xl-9 col-lg-9">
                            <div class="main-menu">
                                <nav>
                                    <ul id="navigation">
                                        <li><a href="/admin">Home</a></li>
										<li><a href="/add_data">Training</a></li>
                                        <li><a href="/logout">Logout</a></li>
                                        <!--<li><a href="#">blog <i class="ti-angle-down"></i></a>
                                            <ul class="submenu">
                                                <li><a href="blog.html">blog</a></li>
                                                <li><a href="single-blog.html">single-blog</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#">pages <i class="ti-angle-down"></i></a>
                                            <ul class="submenu">
                                                <li><a href="elements.html">elements</a></li>
                                                <li><a href="Cause.html">Cause</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="contact.html">Contact</a></li>-->
                                    </ul>
                                </nav>
                                <div class="Appointment">
                                    <!--<div class="book_btn d-none d-lg-block">
                                        <a data-scroll-nav='1' href="#">Make a Donate</a>
                                    </div>-->
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
	<p>&nbsp;</p>
	<p>&nbsp;</p>
	<p>&nbsp;</p>
<div align="center">
<h3 align="center">Training Data</h3>



</div>		
 <!--================Blog Area ============== mb-5 mb-lg-0===-->
    <section class="blog_area section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-2">
				</div>
				<div class="col-lg-8">
                    <div class="blog_left_sidebar">
                        <article class="blog_item">
                          <div class="blog_item_img">
							<h4 align="center">View Photo</h4>
							
							 <p>&nbsp;</p>
  <form id="form1" name="form1" method="post" action="">
   <div align="center" style="width:500px; height:500px; overflow:auto">
	{% for x in result %}
    <img src="../../static/frame/{{x[2]}}" width="100" height="100">
	{%endfor%} 		</div>
  </form>
                 </div>

                           
                        </article>

                        

                       
                    </div>
                </div>
                
				
				
				
            </div>
        </div>
    </section>
    <!--================Blog Area =================-->



<p>&nbsp;</p>
								<p>&nbsp;</p>
 <script src="../../static/web/js/vendor/modernizr-3.5.0.min.js"></script>
    <script src="../../static/web/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="../../static/web/js/popper.min.js"></script>
    <script src="../../static/web/js/bootstrap.min.js"></script>
    <script src="../../static/web/js/owl.carousel.min.js"></script>
    <script src="../../static/web/js/isotope.pkgd.min.js"></script>
    <script src="../../static/web/js/ajax-form.js"></script>
    <script src="../../static/web/js/waypoints.min.js"></script>
    <script src="../../static/web/js/jquery.counterup.min.js"></script>
    <script src="../../static/web/js/imagesloaded.pkgd.min.js"></script>
    <script src="../../static/web/js/scrollIt.js"></script>
    <script src="../../static/web/js/jquery.scrollUp.min.js"></script>
    <script src="../../static/web/js/wow.min.js"></script>
    <script src="../../static/web/js/nice-select.min.js"></script>
    <script src="../../static/web/js/jquery.slicknav.min.js"></script>
    <script src="../../static/web/js/jquery.magnific-popup.min.js"></script>
    <script src="../../static/web/js/plugins.js"></script>
    <script src="../../static/web/js/gijgo.min.js"></script>

    <!--contact js-->
    <script src="../../static/web/js/contact.js"></script>
    <script src="../../static/web/js/jquery.ajaxchimp.min.js"></script>
    <script src="../../static/web/js/jquery.form.js"></script>
    <script src="../../static/web/js/jquery.validate.min.js"></script>
    <script src="../../static/web/js/mail-script.js"></script>

    <script src="../../static/web/js/main.js"></script>
    <script>
        $('.datepicker').datepicker({
            iconsLibrary: 'fontawesome',
            icons: {
                rightIcon: '<span class="fa fa-calendar"></span>'
            }
        });

        $('.timepicker').timepicker({
            iconsLibrary: 'fontawesome',
            icons: {
                rightIcon: '<span class="fa fa-clock-o"></span>'
            }
        });
    $(document).ready(function() {
    $('.js-example-basic-multiple').select2();
});
    </script>
</body>
</html>